<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.rent_home">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/main"
        android:label="Rentica"
        android:roundIcon="@mipmap/main"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".SendOTPActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".VerifyOTPActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".splash_screen"
            android:exported="true"/>

        <activity android:name=".confirmRent"
            android:exported="false"/>

        <activity android:name=".chnagePassword"
            android:exported="false"/>

        <activity android:name=".HomeDetails"
            android:exported="false"/>

        <activity android:name=".SearchResults"
            android:exported="false"/>

        <activity
            android:name=".tracLocation"
            android:exported="true"/>


        <activity android:name=".Settings"
            android:exported="false"/>

        <activity android:name=".Notifications"
            android:exported="false"/>

        <activity android:name=".MyPosts"
            android:exported="false"/>

        <activity android:name=".HomePage"
            android:exported="true"/>

        <activity
            android:name=".editProfile"
            android:exported="false" />
        <activity
            android:name=".PostAHome"
            android:exported="false" />


        <activity android:name=".search"
            android:exported="false"/>

        <activity android:name=".Profile"
            android:exported="false"/>

        <activity android:name=".Register"
            android:exported="false"/>

        <activity android:name=".Login"
            android:exported="true"
             >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>

        <activity
            android:name=".Receipt"
            android:exported="false" />

        <activity android:name=".PayRent"
            android:exported="true"/>

        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />

    </application>

</manifest>